<?xml version="1.0"?>
<model>
  <name>go2_with_velodyne</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>song</name>
    <email>song57290@email.com</email>
  </author>
  <description>
    GO2 robot model with Velodyne VLP-16 attached on base_link.
  </description>
</model>

